* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  margin: 5px;
}

a {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
}
